{% extends "base.html" %}

{% block title %} Menu APP {% endblock %}

{% block content %}

<h3> APP </h3>
<form id="fr_login" action="app/logout" method="POST" >
    <div class="section valign-wrapper center-align icon-preview">
        <i class="material-icons dp48 right">perm_identity</i> Bienvenido {{usuario}}
        |
        <a href="logout"> Cerrar sesion</a> 
    </div>
</form>
<div class="divider"></div>
<div class="row">
    <div class="input-field col s4 m4 l4 center-align "> <!-- Note that "m8 l9" was added -->
        <input class="with-gap" name="group1" type="radio" id="in_todos" value="todos" checked />
        <label for="in_todos">Todos</label>

        <input class="with-gap" name="group1" type="radio" value="activos" id="in_activos" />
        <label for="in_activos">Activos</label>

        <input class="with-gap" name="group1" type="radio" value="inactivos"  id="in_inactivos"  />
        <label for="in_inactivos">Inactivos</label>
    </div>
    <div class="input-field col s5 m5 l5 center-align "> <!-- Note that "m8 l9" was added -->
        <input id="in_filtro" name="in_filtro" type="text" class="validate">
        <label for="Filtro">Filtro</label>
    </div>
</div>
{% if servidores is empty %}
No Hay Servidores
{% else %}
<ul class="collapsible collection" data-collapsible="expandable">
    {% for servidor in servidores %}
    <li id="id_{{servidor.ip}}">
        <div class="collapsible-header {{servidor.status ? "active white":"orange" }} lighten-1">
            <div class="row" style="margin-bottom: 0px;">
                <div class="col s10 m10 l10 valign-wrapper center-align icon-preview">
                    <i class="material-icons small disabled">settings_remote</i>
                    {{servidor.dominio}} ({{servidor.ip}})
                </div>
                <div class="col s1 m1 l1 push-s10 right-align icon-preview ">
                    <div id="id_loader_{{servidor.ip}}" class="preloader-wrapper tiny active hide">
                        <div class="spinner-layer spinner-green-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s1 m1 l1 right" >
                    {% if servidor.listaAplicaciones is not empty %}
                    <div class="chip">
                        {{ servidor.listaAplicaciones.size }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if servidor.listaAplicaciones is not empty %}
        <div class="collapsible-body">
            <ul class="collection icon-preview">
                {% for aplicacion in servidor.listaAplicaciones %}
                <li class="collection-item">
                    <div class="row" style="margin-bottom: 0px;">
                        <div class="col s1 m1 l1 valign-wrapper center-align icon-preview">
                            <i class="center-align small material-icons" >http</i>
                        </div>
                        <div class="col s5 m5 l5 valign-wrapper center-align icon-preview">
                            {{aplicacion.nombre}}
                        </div>
                        <div class="col s2 m2 l2 push-s6" >
                            <div class="preloader-wrapper tiny active hide">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                        <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                        <div class="col s4 m4 l4 right" >
                            <a target="_blank" href="{{aplicacion.protocolo}}://{{servidor.ip}}:{{aplicacion.puerto}}/{{aplicacion.urlServicio}}" class="secondary-content right">
                                <i class="material-icons right">send</i></a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endif %}
<br />
<div class="divider"></div>

{% endblock %}

{% block footer %}
<div id="console"></div>
icardenas - Copyright 2016
<script type="text/javascript">
    $(document).ready(function () {

//        if ($('.collapsible >li .active').length == 0)
//        {
//            $('.collapsible > li > .collapsible-header').click();
//        } else {
//            $('.collapsible >li .active').click();
//        }

        setTimeout('consultarConectados()', 2000);
        setTimeout('consultarDesconectados()', 3000);
        $("#in_filtro").keyup(function () {
            aplicarFiltroTexto();
        });
        $('input[name="group1"]').on('change', function () {
            aplicarFiltroRadion($(this).val());
            aplicarFiltroTexto();
        });
    });

    function aplicarFiltroTexto() {
        var listaNodos = $(".collapsible >li");
        var valFiltro = $("#in_filtro").val();
        for (var i = 0, max = listaNodos.length; i < max; i++) {
            if (listaNodos[i].id.indexOf(valFiltro) > -1) {
//                    console.debug("contenido " + valFiltro);
                $(listaNodos[i]).removeClass("hide2");
            } else {
                $(listaNodos[i]).addClass("hide2");
            }
        }
    }

    function aplicarFiltroRadion(opcion) {
        switch (opcion) {
            case "todos":
            {
                $('.collapsible >li').removeClass("hide3");
                break;
            }
            case "activos":
            {
                $('.collapsible >li .orange').parent().addClass("hide3");
                $('.collapsible >li .white').parent().removeClass("hide3");
                break;
            }
            case "inactivos":
            {
                $('.collapsible >li .orange').parent().removeClass("hide3");
                $('.collapsible >li .white').parent().addClass("hide3");
                break;
            }
            default:
                $('.collapsible >li').removeClass("hide3");

        }

    }




    function consultarConectados() {
//        $("#console").append($('.collapsible >li .white .preloader-wrapper.hide').length+ " "+new Date());
//        console.log("consultarConectador")
        setTimeout('consultarConectados()', 40000);
        var listServerActivos = $('.collapsible >li .white .preloader-wrapper.hide');
        for (var i = 0, max = listServerActivos.length; i < max; i++) {
            getInfoServer(listServerActivos[i], listServerActivos[i].id.replace("id_loader_", ""));
        }

    }

    function consultarDesconectados() {
        setTimeout('consultarDesconectados()', 15000);
        var listServerActivos = $('.collapsible >li .orange .preloader-wrapper.hide');
        for (var i = 0, max = listServerActivos.length; i < max; i++) {
            getInfoServer(listServerActivos[i], listServerActivos[i].id.replace("id_loader_", ""));
        }
    }

    function getInfoServer(elemento, ip) {
//        console.log("DIRECCION " + ip)
        jQuery.ajax({
            type: "GET",
            url: "app/server/" + ip,
            beforeSend: function () {
                $(elemento).removeClass('hide');
                // this is where we append a loading image
//                console.log("ANTES DE ENVIAR")
            },
            success: function (data, status, jqXHR) {
                // do something

                if (data == "up") {
//                    console.log("SUBIR" + ip);
                    if ($(elemento).parent().parent().parent().hasClass('orange')
                            && $(elemento).parent().parent().parent().hasClass('active') == false) {
                        $(elemento).parent().parent().parent().removeClass('orange');
                        $(elemento).parent().parent().parent().click();
                    }
                    $(elemento).parent().parent().parent().addClass('white');
                } else {
//                    console.log("ABAJO " + ip);
                    if ($(elemento).parent().parent().parent().hasClass('white')
                            && $(elemento).parent().parent().parent().hasClass('active') == true) {
                        $(elemento).parent().parent().parent().removeClass('white');
                        $(elemento).parent().parent().parent().click();
                    }
                    $(elemento).parent().parent().parent().addClass('orange');
                }
                $(elemento).addClass('hide');
            },
            error: function (jqXHR, status) {
                $(elemento).addClass('hide');
                console.log(status)
                // error handler
            }
        }
        );
    }

</script>
<style>
    .hide2 {
        display: none !important;
    }
    .hide3 {
        display: none !important;
    }
</style>
{% endblock %}
